<h1>掲示板の一覧</h1>

<table class=table>
  <thead>
    <th>aaa</th>
    <th>bbb</th>
    <th>ccc</th>
    <th>ddd</th>
    <th>eee</th>
  </thead>
  <tbody>
    <td>fff</td>
    <td>ggg</td>
    <td>hhh</td>
    <td>iii</td>
    <td>jjj</td>
  </tbody>
</table>